button#Calibration_1{
    position: relative;
    left:320px;
}
.Calibration{
      width: 20px;
      height: 20px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      border-color: black;
      border-style: solid;
      position:fixed;
}
#Pt1{
    top: 1vh;
    left:320px;
}
#Pt2{
    top: 1vh;
    left:50vw;
}
#Pt3{
    top: 1vh;
    right:1vw;
}
#Pt4{
    top:50vh;
}
#Pt5{
    top: 50vh;
    left: 50vw;
}
#Pt6{
    top: 50vh;
    right:1vw;
}
#Pt7{
    bottom:1vh;

}
#Pt8{
    bottom:1vh;
    left:50vw;
}
#Pt9{
    bottom:1vh;
    right:1vw;
}

#faceOverlay {
  width: 117px;
  height: 117px;
}
