body {
    position: relative;
    min-height: 2000px;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.2rem;
	margin-top: 10px;
}

.nobullets {
	list-style-type: none;
	padding-left: 0;
}

.jumbotron {
    background-color:transparent !important;
}

.padright {
    padding-top: 0px;
    margin-bottom: 22px;
}
.pad {
    padding-top: 10px;
    margin-bottom: 20px;
}

.jumbotron p {
    font-size: 16px;
}

.col-half-offset {
    margin-left: 4.166666667%
}

p > code.hljs { display: inline; }
